:root {
    --body-regular-regular-1-font-family: "Montserrat-Regular", Helvetica;
    --body-regular-regular-1-font-weight: 400;
    --body-regular-regular-1-font-size: 24px;
    --body-regular-regular-1-letter-spacing: 0px;
    --body-regular-regular-1-line-height: 125%;
    --body-regular-regular-1-font-style: normal;
    --body-regular-regular-2-font-family: "Montserrat-Regular", Helvetica;
    --body-regular-regular-2-font-weight: 400;
    --body-regular-regular-2-font-size: 22px;
    --body-regular-regular-2-letter-spacing: 0px;
    --body-regular-regular-2-line-height: 125%;
    --body-regular-regular-2-font-style: normal;
    --body-regular-regular-3-font-family: "Montserrat-Regular", Helvetica;
    --body-regular-regular-3-font-weight: 400;
    --body-regular-regular-3-font-size: 20px;
    --body-regular-regular-3-letter-spacing: 0px;
    --body-regular-regular-3-line-height: 120.00000476837158%;
    --body-regular-regular-3-font-style: normal;
    --body-regular-regular-4-font-family: "Montserrat-Regular", Helvetica;
    --body-regular-regular-4-font-weight: 400;
    --body-regular-regular-4-font-size: 18px;
    --body-regular-regular-4-letter-spacing: 0px;
    --body-regular-regular-4-line-height: 145.00000476837158%;
    --body-regular-regular-4-font-style: normal;
    --body-regular-regular-5-font-family: "Montserrat-Regular", Helvetica;
    --body-regular-regular-5-font-weight: 400;
    --body-regular-regular-5-font-size: 16px;
    --body-regular-regular-5-letter-spacing: 0px;
    --body-regular-regular-5-line-height: 125%;
    --body-regular-regular-5-font-style: normal;
    --body-regular-regular-6-font-family: "Montserrat-Regular", Helvetica;
    --body-regular-regular-6-font-weight: 400;
    --body-regular-regular-6-font-size: 14px;
    --body-regular-regular-6-letter-spacing: 0px;
    --body-regular-regular-6-line-height: 125%;
    --body-regular-regular-6-font-style: normal;
    --body-regular-regular-7-font-family: "Montserrat-Regular", Helvetica;
    --body-regular-regular-7-font-weight: 400;
    --body-regular-regular-7-font-size: 12px;
    --body-regular-regular-7-letter-spacing: 0px;
    --body-regular-regular-7-line-height: 120.00000476837158%;
    --body-regular-regular-7-font-style: normal;
    --body-regular-regular-8-font-family: "Montserrat-Regular", Helvetica;
    --body-regular-regular-8-font-weight: 400;
    --body-regular-regular-8-font-size: 10px;
    --body-regular-regular-8-letter-spacing: 0px;
    --body-regular-regular-8-line-height: 120.00000476837158%;
    --body-regular-regular-8-font-style: normal;
    --body-medium-medium-1-font-family: "Montserrat-Medium", Helvetica;
    --body-medium-medium-1-font-weight: 500;
    --body-medium-medium-1-font-size: 24px;
    --body-medium-medium-1-letter-spacing: 0px;
    --body-medium-medium-1-line-height: 125%;
    --body-medium-medium-1-font-style: normal;
    --body-medium-medium-2-font-family: "Montserrat-Medium", Helvetica;
    --body-medium-medium-2-font-weight: 500;
    --body-medium-medium-2-font-size: 22px;
    --body-medium-medium-2-letter-spacing: 0px;
    --body-medium-medium-2-line-height: 125%;
    --body-medium-medium-2-font-style: normal;
    --body-medium-medium-3-font-family: "Montserrat-Medium", Helvetica;
    --body-medium-medium-3-font-weight: 500;
    --body-medium-medium-3-font-size: 20px;
    --body-medium-medium-3-letter-spacing: 0px;
    --body-medium-medium-3-line-height: 120.00000476837158%;
    --body-medium-medium-3-font-style: normal;
    --body-medium-medium-4-font-family: "Montserrat-Medium", Helvetica;
    --body-medium-medium-4-font-weight: 500;
    --body-medium-medium-4-font-size: 18px;
    --body-medium-medium-4-letter-spacing: 0px;
    --body-medium-medium-4-line-height: 120.00000476837158%;
    --body-medium-medium-4-font-style: normal;
    --body-medium-medium-5-font-family: "Montserrat-Medium", Helvetica;
    --body-medium-medium-5-font-weight: 500;
    --body-medium-medium-5-font-size: 16px;
    --body-medium-medium-5-letter-spacing: 0px;
    --body-medium-medium-5-line-height: 125%;
    --body-medium-medium-5-font-style: normal;
    --body-medium-medium-6-font-family: "Montserrat-Medium", Helvetica;
    --body-medium-medium-6-font-weight: 500;
    --body-medium-medium-6-font-size: 14px;
    --body-medium-medium-6-letter-spacing: 0px;
    --body-medium-medium-6-line-height: 125%;
    --body-medium-medium-6-font-style: normal;
    --body-medium-medium-7-font-family: "Montserrat-Medium", Helvetica;
    --body-medium-medium-7-font-weight: 500;
    --body-medium-medium-7-font-size: 12px;
    --body-medium-medium-7-letter-spacing: 0px;
    --body-medium-medium-7-line-height: 120.00000476837158%;
    --body-medium-medium-7-font-style: normal;
    --body-medium-medium-8-font-family: "Montserrat-Medium", Helvetica;
    --body-medium-medium-8-font-weight: 500;
    --body-medium-medium-8-font-size: 10px;
    --body-medium-medium-8-letter-spacing: 0px;
    --body-medium-medium-8-line-height: 120.00000476837158%;
    --body-medium-medium-8-font-style: normal;
    --body-semibold-semibold-1-font-family: "Montserrat-SemiBold", Helvetica;
    --body-semibold-semibold-1-font-weight: 600;
    --body-semibold-semibold-1-font-size: 24px;
    --body-semibold-semibold-1-letter-spacing: 0px;
    --body-semibold-semibold-1-line-height: 125%;
    --body-semibold-semibold-1-font-style: normal;
    --body-semibold-semibold-2-font-family: "Montserrat-SemiBold", Helvetica;
    --body-semibold-semibold-2-font-weight: 600;
    --body-semibold-semibold-2-font-size: 22px;
    --body-semibold-semibold-2-letter-spacing: 0px;
    --body-semibold-semibold-2-line-height: 125%;
    --body-semibold-semibold-2-font-style: normal;
    --body-semibold-semibold-3-font-family: "Montserrat-SemiBold", Helvetica;
    --body-semibold-semibold-3-font-weight: 600;
    --body-semibold-semibold-3-font-size: 20px;
    --body-semibold-semibold-3-letter-spacing: 0px;
    --body-semibold-semibold-3-line-height: 120.00000476837158%;
    --body-semibold-semibold-3-font-style: normal;
    --body-semibold-semibold-4-font-family: "Montserrat-SemiBold", Helvetica;
    --body-semibold-semibold-4-font-weight: 600;
    --body-semibold-semibold-4-font-size: 18px;
    --body-semibold-semibold-4-letter-spacing: 0px;
    --body-semibold-semibold-4-line-height: 120.00000476837158%;
    --body-semibold-semibold-4-font-style: normal;
    --body-semibold-semibold-5-font-family: "Montserrat-SemiBold", Helvetica;
    --body-semibold-semibold-5-font-weight: 600;
    --body-semibold-semibold-5-font-size: 16px;
    --body-semibold-semibold-5-letter-spacing: 0px;
    --body-semibold-semibold-5-line-height: 125%;
    --body-semibold-semibold-5-font-style: normal;
    --body-semibold-semibold-6-font-family: "Montserrat-SemiBold", Helvetica;
    --body-semibold-semibold-6-font-weight: 600;
    --body-semibold-semibold-6-font-size: 14px;
    --body-semibold-semibold-6-letter-spacing: 0px;
    --body-semibold-semibold-6-line-height: 125%;
    --body-semibold-semibold-6-font-style: normal;
    --body-semibold-semibold-7-font-family: "Montserrat-SemiBold", Helvetica;
    --body-semibold-semibold-7-font-weight: 600;
    --body-semibold-semibold-7-font-size: 12px;
    --body-semibold-semibold-7-letter-spacing: 0px;
    --body-semibold-semibold-7-line-height: 120.00000476837158%;
    --body-semibold-semibold-7-font-style: normal;
    --body-semibold-semibold-8-font-family: "Montserrat-SemiBold", Helvetica;
    --body-semibold-semibold-8-font-weight: 600;
    --body-semibold-semibold-8-font-size: 10px;
    --body-semibold-semibold-8-letter-spacing: 0px;
    --body-semibold-semibold-8-line-height: 120.00000476837158%;
    --body-semibold-semibold-8-font-style: normal;
    --body-link-link-1-font-family: "Montserrat-Medium", Helvetica;
    --body-link-link-1-font-weight: 500;
    --body-link-link-1-font-size: 24px;
    --body-link-link-1-letter-spacing: 0px;
    --body-link-link-1-line-height: 125%;
    --body-link-link-1-font-style: normal;
    --body-link-link-2-font-family: "Montserrat-Medium", Helvetica;
    --body-link-link-2-font-weight: 500;
    --body-link-link-2-font-size: 22px;
    --body-link-link-2-letter-spacing: 0px;
    --body-link-link-2-line-height: 125%;
    --body-link-link-2-font-style: normal;
    --body-link-link-3-font-family: "Montserrat-Medium", Helvetica;
    --body-link-link-3-font-weight: 500;
    --body-link-link-3-font-size: 20px;
    --body-link-link-3-letter-spacing: 0px;
    --body-link-link-3-line-height: 120.00000476837158%;
    --body-link-link-3-font-style: normal;
    --body-link-link-4-font-family: "Montserrat-Medium", Helvetica;
    --body-link-link-4-font-weight: 500;
    --body-link-link-4-font-size: 18px;
    --body-link-link-4-letter-spacing: 0px;
    --body-link-link-4-line-height: 120.00000476837158%;
    --body-link-link-4-font-style: normal;
    --body-link-link-5-font-family: "Montserrat-Medium", Helvetica;
    --body-link-link-5-font-weight: 500;
    --body-link-link-5-font-size: 16px;
    --body-link-link-5-letter-spacing: 0px;
    --body-link-link-5-line-height: 125%;
    --body-link-link-5-font-style: normal;
    --body-link-link-6-font-family: "Montserrat-Medium", Helvetica;
    --body-link-link-6-font-weight: 500;
    --body-link-link-6-font-size: 14px;
    --body-link-link-6-letter-spacing: 0px;
    --body-link-link-6-line-height: 125%;
    --body-link-link-6-font-style: normal;
    --body-link-link-7-font-family: "Montserrat-Medium", Helvetica;
    --body-link-link-7-font-weight: 500;
    --body-link-link-7-font-size: 12px;
    --body-link-link-7-letter-spacing: 0px;
    --body-link-link-7-line-height: 120.00000476837158%;
    --body-link-link-7-font-style: normal;
    --body-link-link-8-font-family: "Montserrat-Medium", Helvetica;
    --body-link-link-8-font-weight: 500;
    --body-link-link-8-font-size: 10px;
    --body-link-link-8-letter-spacing: 0px;
    --body-link-link-8-line-height: 120.00000476837158%;
    --body-link-link-8-font-style: normal;
    --headings-display-1-regular-font-family: "Montserrat-Regular", Helvetica;
    --headings-display-1-regular-font-weight: 400;
    --headings-display-1-regular-font-size: 80px;
    --headings-display-1-regular-letter-spacing: 0px;
    --headings-display-1-regular-line-height: 120.00000476837158%;
    --headings-display-1-regular-font-style: normal;
    --headings-display-1-medium-font-family: "Montserrat-Medium", Helvetica;
    --headings-display-1-medium-font-weight: 500;
    --headings-display-1-medium-font-size: 80px;
    --headings-display-1-medium-letter-spacing: 0px;
    --headings-display-1-medium-line-height: 120.00000476837158%;
    --headings-display-1-medium-font-style: normal;
    --headings-display-1-semibold-font-family: "Montserrat-SemiBold", Helvetica;
    --headings-display-1-semibold-font-weight: 600;
    --headings-display-1-semibold-font-size: 80px;
    --headings-display-1-semibold-letter-spacing: 0px;
    --headings-display-1-semibold-line-height: 120.00000476837158%;
    --headings-display-1-semibold-font-style: normal;
    --headings-display-1-bold-font-family: "Montserrat-Bold", Helvetica;
    --headings-display-1-bold-font-weight: 700;
    --headings-display-1-bold-font-size: 80px;
    --headings-display-1-bold-letter-spacing: 0px;
    --headings-display-1-bold-line-height: 120.00000476837158%;
    --headings-display-1-bold-font-style: normal;
    --headings-display-2-regular-font-family: "Montserrat-Regular", Helvetica;
    --headings-display-2-regular-font-weight: 400;
    --headings-display-2-regular-font-size: 64px;
    --headings-display-2-regular-letter-spacing: 0px;
    --headings-display-2-regular-line-height: 125%;
    --headings-display-2-regular-font-style: normal;
    --headings-display-2-medium-font-family: "Montserrat-Medium", Helvetica;
    --headings-display-2-medium-font-weight: 500;
    --headings-display-2-medium-font-size: 64px;
    --headings-display-2-medium-letter-spacing: 0px;
    --headings-display-2-medium-line-height: 125%;
    --headings-display-2-medium-font-style: normal;
    --headings-display-2-semibold-font-family: "Montserrat-SemiBold", Helvetica;
    --headings-display-2-semibold-font-weight: 600;
    --headings-display-2-semibold-font-size: 64px;
    --headings-display-2-semibold-letter-spacing: 0px;
    --headings-display-2-semibold-line-height: 125%;
    --headings-display-2-semibold-font-style: normal;
    --headings-display-2-bold-font-family: "Montserrat-Bold", Helvetica;
    --headings-display-2-bold-font-weight: 700;
    --headings-display-2-bold-font-size: 64px;
    --headings-display-2-bold-letter-spacing: 0px;
    --headings-display-2-bold-line-height: 125%;
    --headings-display-2-bold-font-style: normal;
    --headings-display-3-regular-font-family: "Montserrat-Regular", Helvetica;
    --headings-display-3-regular-font-weight: 400;
    --headings-display-3-regular-font-size: 56px;
    --headings-display-3-regular-letter-spacing: 0px;
    --headings-display-3-regular-line-height: 125%;
    --headings-display-3-regular-font-style: normal;
    --headings-display-3-medium-font-family: "Montserrat-Medium", Helvetica;
    --headings-display-3-medium-font-weight: 500;
    --headings-display-3-medium-font-size: 56px;
    --headings-display-3-medium-letter-spacing: 0px;
    --headings-display-3-medium-line-height: 125%;
    --headings-display-3-medium-font-style: normal;
    --headings-display-3-semibold-font-family: "Montserrat-SemiBold", Helvetica;
    --headings-display-3-semibold-font-weight: 600;
    --headings-display-3-semibold-font-size: 56px;
    --headings-display-3-semibold-letter-spacing: 0px;
    --headings-display-3-semibold-line-height: 125%;
    --headings-display-3-semibold-font-style: normal;
    --headings-display-3-bold-font-family: "Montserrat-Bold", Helvetica;
    --headings-display-3-bold-font-weight: 700;
    --headings-display-3-bold-font-size: 56px;
    --headings-display-3-bold-letter-spacing: 0px;
    --headings-display-3-bold-line-height: 125%;
    --headings-display-3-bold-font-style: normal;
    --headings-heading-h1-regular-font-family: "Montserrat-Regular", Helvetica;
    --headings-heading-h1-regular-font-weight: 400;
    --headings-heading-h1-regular-font-size: 56px;
    --headings-heading-h1-regular-letter-spacing: 0px;
    --headings-heading-h1-regular-line-height: 125%;
    --headings-heading-h1-regular-font-style: normal;
    --headings-heading-h1-medium-font-family: "Montserrat-Medium", Helvetica;
    --headings-heading-h1-medium-font-weight: 500;
    --headings-heading-h1-medium-font-size: 56px;
    --headings-heading-h1-medium-letter-spacing: 0px;
    --headings-heading-h1-medium-line-height: 125%;
    --headings-heading-h1-medium-font-style: normal;
    --headings-heading-h1-semibold-font-family: "Montserrat-SemiBold", Helvetica;
    --headings-heading-h1-semibold-font-weight: 600;
    --headings-heading-h1-semibold-font-size: 56px;
    --headings-heading-h1-semibold-letter-spacing: 0px;
    --headings-heading-h1-semibold-line-height: 125%;
    --headings-heading-h1-semibold-font-style: normal;
    --headings-heading-h1-bold-font-family: "Montserrat-Bold", Helvetica;
    --headings-heading-h1-bold-font-weight: 700;
    --headings-heading-h1-bold-font-size: 56px;
    --headings-heading-h1-bold-letter-spacing: 0px;
    --headings-heading-h1-bold-line-height: 125%;
    --headings-heading-h1-bold-font-style: normal;
    --headings-heading-h2-regular-font-family: "Montserrat-Regular", Helvetica;
    --headings-heading-h2-regular-font-weight: 400;
    --headings-heading-h2-regular-font-size: 48px;
    --headings-heading-h2-regular-letter-spacing: 0px;
    --headings-heading-h2-regular-line-height: 125%;
    --headings-heading-h2-regular-font-style: normal;
    --headings-heading-h2-medium-font-family: "Montserrat-Medium", Helvetica;
    --headings-heading-h2-medium-font-weight: 500;
    --headings-heading-h2-medium-font-size: 48px;
    --headings-heading-h2-medium-letter-spacing: 0px;
    --headings-heading-h2-medium-line-height: 125%;
    --headings-heading-h2-medium-font-style: normal;
    --headings-heading-h2-semibold-font-family: "Montserrat-SemiBold", Helvetica;
    --headings-heading-h2-semibold-font-weight: 600;
    --headings-heading-h2-semibold-font-size: 48px;
    --headings-heading-h2-semibold-letter-spacing: 0px;
    --headings-heading-h2-semibold-line-height: 125%;
    --headings-heading-h2-semibold-font-style: normal;
    --headings-heading-h2-bold-font-family: "Montserrat-Bold", Helvetica;
    --headings-heading-h2-bold-font-weight: 700;
    --headings-heading-h2-bold-font-size: 48px;
    --headings-heading-h2-bold-letter-spacing: 0px;
    --headings-heading-h2-bold-line-height: 125%;
    --headings-heading-h2-bold-font-style: normal;
    --headings-heading-h3-regular-font-family: "Montserrat-Regular", Helvetica;
    --headings-heading-h3-regular-font-weight: 400;
    --headings-heading-h3-regular-font-size: 40px;
    --headings-heading-h3-regular-letter-spacing: 0px;
    --headings-heading-h3-regular-line-height: 125%;
    --headings-heading-h3-regular-font-style: normal;
    --headings-heading-h3-medium-font-family: "Montserrat-Medium", Helvetica;
    --headings-heading-h3-medium-font-weight: 500;
    --headings-heading-h3-medium-font-size: 40px;
    --headings-heading-h3-medium-letter-spacing: 0px;
    --headings-heading-h3-medium-line-height: 125%;
    --headings-heading-h3-medium-font-style: normal;
    --headings-heading-h3-semibold-font-family: "Montserrat-SemiBold", Helvetica;
    --headings-heading-h3-semibold-font-weight: 600;
    --headings-heading-h3-semibold-font-size: 40px;
    --headings-heading-h3-semibold-letter-spacing: 0px;
    --headings-heading-h3-semibold-line-height: 125%;
    --headings-heading-h3-semibold-font-style: normal;
    --headings-heading-h3-bold-font-family: "Montserrat-Bold", Helvetica;
    --headings-heading-h3-bold-font-weight: 700;
    --headings-heading-h3-bold-font-size: 40px;
    --headings-heading-h3-bold-letter-spacing: 0px;
    --headings-heading-h3-bold-line-height: 125%;
    --headings-heading-h3-bold-font-style: normal;
    --headings-heading-h4-regular-font-family: "Montserrat-Regular", Helvetica;
    --headings-heading-h4-regular-font-weight: 400;
    --headings-heading-h4-regular-font-size: 36px;
    --headings-heading-h4-regular-letter-spacing: 0px;
    --headings-heading-h4-regular-line-height: 125%;
    --headings-heading-h4-regular-font-style: normal;
    --headings-heading-h4-medium-font-family: "Montserrat-Medium", Helvetica;
    --headings-heading-h4-medium-font-weight: 500;
    --headings-heading-h4-medium-font-size: 36px;
    --headings-heading-h4-medium-letter-spacing: 0px;
    --headings-heading-h4-medium-line-height: 125%;
    --headings-heading-h4-medium-font-style: normal;
    --headings-heading-h4-semibold-font-family: "Montserrat-SemiBold", Helvetica;
    --headings-heading-h4-semibold-font-weight: 600;
    --headings-heading-h4-semibold-font-size: 36px;
    --headings-heading-h4-semibold-letter-spacing: 0px;
    --headings-heading-h4-semibold-line-height: 125%;
    --headings-heading-h4-semibold-font-style: normal;
    --headings-heading-h4-bold-font-family: "Montserrat-Bold", Helvetica;
    --headings-heading-h4-bold-font-weight: 700;
    --headings-heading-h4-bold-font-size: 36px;
    --headings-heading-h4-bold-letter-spacing: 0px;
    --headings-heading-h4-bold-line-height: 125%;
    --headings-heading-h4-bold-font-style: normal;
    --headings-heading-h5-regular-font-family: "Montserrat-Regular", Helvetica;
    --headings-heading-h5-regular-font-weight: 400;
    --headings-heading-h5-regular-font-size: 32px;
    --headings-heading-h5-regular-letter-spacing: 0px;
    --headings-heading-h5-regular-line-height: 125%;
    --headings-heading-h5-regular-font-style: normal;
    --headings-heading-h5-medium-font-family: "Montserrat-Medium", Helvetica;
    --headings-heading-h5-medium-font-weight: 500;
    --headings-heading-h5-medium-font-size: 32px;
    --headings-heading-h5-medium-letter-spacing: 0px;
    --headings-heading-h5-medium-line-height: 125%;
    --headings-heading-h5-medium-font-style: normal;
    --headings-heading-h5-semibold-font-family: "Montserrat-SemiBold", Helvetica;
    --headings-heading-h5-semibold-font-weight: 600;
    --headings-heading-h5-semibold-font-size: 32px;
    --headings-heading-h5-semibold-letter-spacing: 0px;
    --headings-heading-h5-semibold-line-height: 120.00000476837158%;
    --headings-heading-h5-semibold-font-style: normal;
    --headings-heading-h5-bold-font-family: "Montserrat-Bold", Helvetica;
    --headings-heading-h5-bold-font-weight: 700;
    --headings-heading-h5-bold-font-size: 32px;
    --headings-heading-h5-bold-letter-spacing: 0px;
    --headings-heading-h5-bold-line-height: 125%;
    --headings-heading-h5-bold-font-style: normal;
    --headings-heading-h6-regular-font-family: "Montserrat-Regular", Helvetica;
    --headings-heading-h6-regular-font-weight: 400;
    --headings-heading-h6-regular-font-size: 28px;
    --headings-heading-h6-regular-letter-spacing: 0px;
    --headings-heading-h6-regular-line-height: 120.00000476837158%;
    --headings-heading-h6-regular-font-style: normal;
    --headings-heading-h6-medium-font-family: "Montserrat-Medium", Helvetica;
    --headings-heading-h6-medium-font-weight: 500;
    --headings-heading-h6-medium-font-size: 28px;
    --headings-heading-h6-medium-letter-spacing: 0px;
    --headings-heading-h6-medium-line-height: 120.00000476837158%;
    --headings-heading-h6-medium-font-style: normal;
    --headings-heading-h6-semibold-font-family: "Montserrat-SemiBold", Helvetica;
    --headings-heading-h6-semibold-font-weight: 600;
    --headings-heading-h6-semibold-font-size: 28px;
    --headings-heading-h6-semibold-letter-spacing: 0px;
    --headings-heading-h6-semibold-line-height: 120.00000476837158%;
    --headings-heading-h6-semibold-font-style: normal;
    --headings-heading-h6-bold-font-family: "Montserrat-Bold", Helvetica;
    --headings-heading-h6-bold-font-weight: 700;
    --headings-heading-h6-bold-font-size: 28px;
    --headings-heading-h6-bold-letter-spacing: 0px;
    --headings-heading-h6-bold-line-height: 120.00000476837158%;
    --headings-heading-h6-bold-font-style: normal;
    --button-medium-body-medium-1-font-family: "Montserrat-Medium", Helvetica;
    --button-medium-body-medium-1-font-weight: 500;
    --button-medium-body-medium-1-font-size: 24px;
    --button-medium-body-medium-1-letter-spacing: 0px;
    --button-medium-body-medium-1-line-height: 125%;
    --button-medium-body-medium-1-font-style: normal;
    --button-medium-body-medium-2-font-family: "Montserrat-Medium", Helvetica;
    --button-medium-body-medium-2-font-weight: 500;
    --button-medium-body-medium-2-font-size: 18px;
    --button-medium-body-medium-2-letter-spacing: 0px;
    --button-medium-body-medium-2-line-height: 120.00000476837158%;
    --button-medium-body-medium-2-font-style: normal;
    --button-medium-body-medium-3-font-family: "Montserrat-Medium", Helvetica;
    --button-medium-body-medium-3-font-weight: 500;
    --button-medium-body-medium-3-font-size: 16px;
    --button-medium-body-medium-3-letter-spacing: 0px;
    --button-medium-body-medium-3-line-height: 125%;
    --button-medium-body-medium-3-font-style: normal;
    --button-medium-body-medium-4-font-family: "Montserrat-Medium", Helvetica;
    --button-medium-body-medium-4-font-weight: 500;
    --button-medium-body-medium-4-font-size: 14px;
    --button-medium-body-medium-4-letter-spacing: 0px;
    --button-medium-body-medium-4-line-height: 125%;
    --button-medium-body-medium-4-font-style: normal;
    --button-semibold-body-semibold-1-font-family: "Montserrat-SemiBold", Helvetica;
    --button-semibold-body-semibold-1-font-weight: 600;
    --button-semibold-body-semibold-1-font-size: 24px;
    --button-semibold-body-semibold-1-letter-spacing: 0px;
    --button-semibold-body-semibold-1-line-height: 125%;
    --button-semibold-body-semibold-1-font-style: normal;
    --button-semibold-body-semibold-2-font-family: "Montserrat-SemiBold", Helvetica;
    --button-semibold-body-semibold-2-font-weight: 600;
    --button-semibold-body-semibold-2-font-size: 18px;
    --button-semibold-body-semibold-2-letter-spacing: 0px;
    --button-semibold-body-semibold-2-line-height: 120.00000476837158%;
    --button-semibold-body-semibold-2-font-style: normal;
    --button-semibold-body-semibold-3-font-family: "Montserrat-SemiBold", Helvetica;
    --button-semibold-body-semibold-3-font-weight: 600;
    --button-semibold-body-semibold-3-font-size: 16px;
    --button-semibold-body-semibold-3-letter-spacing: 0px;
    --button-semibold-body-semibold-3-line-height: 125%;
    --button-semibold-body-semibold-3-font-style: normal;
    --button-semibold-body-semibold-4-font-family: "Montserrat-SemiBold", Helvetica;
    --button-semibold-body-semibold-4-font-weight: 600;
    --button-semibold-body-semibold-4-font-size: 14px;
    --button-semibold-body-semibold-4-letter-spacing: 0px;
    --button-semibold-body-semibold-4-line-height: 125%;
    --button-semibold-body-semibold-4-font-style: normal;
    --3-6dp: 0px 36px 48px 0px rgba(207, 215, 226, 0.6);
    --2-4dp: 0px 24px 36px 0px rgba(207, 215, 226, 0.48);
    --1-2dp: 0px 12px 24px 0px rgba(207, 215, 226, 0.54);
    --8dp: 0px 8px 12px 0px rgba(207, 215, 226, 0.6);
    --4dp: 0px 4px 8px 0px rgba(207, 215, 226, 0.64);
    --style-guide-color-light-dark-50: rgba(250, 251, 255, 1);
    --style-guide-color-light-dark-100: rgba(244, 247, 254, 1);
    --style-guide-color-light-dark-200: rgba(232, 235, 241, 1);
    --style-guide-color-light-dark-300: rgba(220, 222, 229, 1);
    --style-guide-color-light-dark-400: rgba(207, 210, 216, 1);
    --style-guide-color-light-dark-500: rgba(148, 153, 171, 1);
    --style-guide-color-light-dark-600: rgba(88, 96, 124, 1);
    --style-guide-color-light-dark-700: rgba(41, 51, 87, 1);
    --style-guide-color-light-dark-800: rgba(17, 28, 68, 1);
    --style-guide-color-light-dark-900: rgba(11, 20, 55, 1);
    --style-guide-color-neutral-50: rgba(255, 255, 255, 1);
    --style-guide-color-neutral-100: rgba(248, 248, 248, 1);
    --style-guide-color-neutral-200: rgba(213, 213, 213, 1);
    --style-guide-color-neutral-300: rgba(182, 182, 182, 1);
    --style-guide-color-neutral-400: rgba(161, 161, 161, 1);
    --style-guide-color-neutral-500: rgba(129, 129, 129, 1);
    --style-guide-color-neutral-600: rgba(77, 77, 77, 1);
    --style-guide-color-neutral-700: rgba(56, 56, 56, 1);
    --style-guide-color-neutral-800: rgba(45, 45, 45, 1);
    --style-guide-color-neutral-900: rgba(27, 27, 27, 1);
    --style-guide-color-primary-50: rgba(235, 242, 254, 1);
    --style-guide-color-primary-100: rgba(216, 230, 253, 1);
    --style-guide-color-primary-200: rgba(177, 205, 251, 1);
    --style-guide-color-primary-300: rgba(137, 180, 250, 1);
    --style-guide-color-primary-400: rgba(98, 155, 248, 1);
    --style-guide-color-primary-500: rgba(59, 130, 246, 1);
    --style-guide-color-primary-600: rgba(47, 105, 199, 1);
    --style-guide-color-primary-700: rgba(35, 80, 151, 1);
    --style-guide-color-primary-800: rgba(24, 54, 104, 1);
    --style-guide-color-primary-900: rgba(12, 29, 56, 1);
    --style-guide-color-secondary-50: rgba(233, 249, 239, 1);
    --style-guide-color-secondary-100: rgba(211, 243, 223, 1);
    --style-guide-color-secondary-200: rgba(167, 232, 191, 1);
    --style-guide-color-secondary-300: rgba(122, 220, 158, 1);
    --style-guide-color-secondary-400: rgba(78, 209, 126, 1);
    --style-guide-color-secondary-500: rgba(34, 197, 94, 1);
    --style-guide-color-secondary-600: rgba(27, 158, 75, 1);
    --style-guide-color-secondary-700: rgba(20, 118, 56, 1);
    --style-guide-color-secondary-800: rgba(14, 79, 38, 1);
    --style-guide-color-secondary-900: rgba(7, 39, 19, 1);
    --style-guide-color-error-50: rgba(253, 236, 236, 1);
    --style-guide-color-error-100: rgba(252, 218, 218, 1);
    --style-guide-color-error-200: rgba(249, 180, 180, 1);
    --style-guide-color-error-300: rgba(245, 143, 143, 1);
    --style-guide-color-error-400: rgba(242, 105, 105, 1);
    --style-guide-color-error-500: rgba(239, 68, 68, 1);
    --style-guide-color-error-600: rgba(193, 55, 55, 1);
    --style-guide-color-error-700: rgba(147, 41, 41, 1);
    --style-guide-color-error-800: rgba(102, 28, 28, 1);
    --style-guide-color-error-900: rgba(56, 14, 14, 1);
    --style-guide-color-warning-50: rgba(254, 252, 232, 1);
    --style-guide-color-warning-100: rgba(254, 249, 195, 1);
    --style-guide-color-warning-200: rgba(254, 240, 138, 1);
    --style-guide-color-warning-300: rgba(253, 224, 71, 1);
    --style-guide-color-warning-400: rgba(250, 204, 21, 1);
    --style-guide-color-warning-500: rgba(244, 187, 7, 1);
    --style-guide-color-warning-600: rgba(222, 151, 3, 1);
    --style-guide-color-warning-700: rgba(183, 112, 9, 1);
    --style-guide-color-warning-800: rgba(147, 82, 10, 1);
    --style-guide-color-warning-900: rgba(130, 70, 16, 1);
}
